@model IEnumerable<TouristAgency.Models.MenuItem>
<header id="header">
    <a href="#menu">Меню</a>
    <div class="logo"><a href="@Url.Action("Index")" class="link" style="color:white">Главная</a></div>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <li><a href="@item.Link">@item.LinkName</a></li>
                
            }
        }
    </ul>
</nav>