@model TouristAgency.Models.CountryListViewModel
<!DOCTYPE HTML>
<html>
<head>

    <title>Adriatic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css" />
</head>
<body>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Adriatic</h1>
                <p>Турагентство "Adriatic" предлагает вашему вниманию туры в страны, которые граничат с Адриатическим морем. Самые лучшие туры по самым привлекательным ценам.</p>
            </header>
            <a href="#main" class="button big scrolly">Подробнее</a>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
            @foreach (var c in Model.Countries)
            {
                <section class="wrapper style1">
                    <div class="inner">
                        <!-- 2 Columns -->
                        <div class="flex flex-2">
                            @foreach (var u in c.Pictures)
                            {
                                <div class="col col1">
                                    <div class="image round fit">
                                        <a href="/Home/CountryPage/@c.Id" class="link">

                                            <img src="~/images/@u.Url" />
                                            
                                        </a>
                                    </div>
                                </div>
                            }
                                <div class="col col2">
                                    <h3>@c.Name</h3>
                                    <p>@c.History</p>
                                    <a href="/Home/CountryPage/@c.Id" class="button">Подробнее</a>
                                </div>
                            </div>
                    </div>
                </section>

            }

            <footer id="footer">
                <div class="copyright">
                    <ul class="icons">
                        <li><a href="http://www.twitter.com" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="http://www.facebook.com" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="http://www.instagram.com" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="http://www.snapchat.com" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
                    </ul>
                   
                </div>
            </footer>
    </div>
    <!-- Scripts -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>