@model IEnumerable<TouristAgency.Models.MenuItem>
    <html>
<head>
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <header id="header">
        <a href="#menu">Меню</a>
        <div class="logo"><a href="@Url.Action("Index")" class="link" style="color:white">Главная</a></div>
        <br />
    </header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <li><a href="@item.Link">@item.LinkName</a></li>

            }

        }
        <li><a href="~/Cart/Index">Понравившиеся туры</a></li>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            }
        }
    </ul>
</nav>

    </body>
</html>